<%= @name %> plays the game!

<form action="/game" method="post">
  <input type="submit" name="move" value="Rock" />
  <input type="submit" name="move" value="Paper" />
  <input type="submit" name="move" value="Scissors" />
</form>
